$primary-color: #5200FF;
$secondary-color: white;
$bg-color: #000000;
@use 'mixins.scss';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: none;
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: $bg-color;
}

/* NAV BAR SETTINGS  */

.navMobile{
  display: none;
}

.pushbar{
  display: none;
}

.navbar {
  width: 100vw;
  max-width: 100%;
  height: 10vh;
  max-height: 10%;
  display: flex;
  position: absolute;
  background-color: red;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
}

.navbar-content img {
  width: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.nav-items {
  width: 25vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  border-radius: 10%;
  padding: 1rem;
}

.nav-items a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 600;
  transition: 0.5s;
}

.nav-items a:hover{
  color: $primary-color;
}

/* SECCION LANDING PAGE  */

.landing-page {
  @include mixins.ajustar-medida;
  display: flex;
  background-color: dodgerblue;
}

.section-content-left {
  @include mixins.flexbox(column);
  width: 50vw;
  height: 100vh;
  max-height: 100%;
  background-color: yellow;

  & p{
    margin-top: 0;
    width: 60%;
  }
}

.section-content-right {
  @include mixins.flexbox(column);
  width: 50vw;
  height: 100vh;
  max-height: 100%;
  background-color: green;
}

h1 {
  font-size: 3vw;
  font-weight: 900;
  transition: 1s ease-in-out;
}

h2 {
  font-size: 2.2vw;
  font-weight: 900;
}

p {
  font-size: 0.9vw;
  font-weight: 400;
  transition: 1s ease-in-out;
}

/* GALLERY  */

.gallery {
  @include mixins.ajustar-medida;
  @include mixins.flexbox(column);


  & .TextContainer{
  width: 60vw;
  margin: 6rem 0 4rem 0;
  }

}

// CONTACTO

.contacto{
  @include mixins.ajustar-medida;
  @include mixins.flexbox(column);
  background-color: violet;
}

.formulario {
  box-sizing: content-box;
  text-align: center;
  color: black;
  width: 70vw;
  height: 60vh;
  max-width: 40%;
  max-height: 60%;
  align-items: center;
  right: 15%;
}

.tituloConIcono {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 10vh;
  padding: 2rem 0;
  margin: auto;

  & img{
    width: 7%; padding: 0 0.8rem;
  }
}

form input {
  border-radius: 0rem;
  width: 70vw;
  max-width: 90%;
  height: 2rem;
  padding: 1rem 0 1rem 0.5rem;
  background-color: #0a0a0a;
  color: white;
  margin: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 4px solid white;
}

form input:focus {
  border-bottom: 4px solid white;
  transition: 0.3s ease-in-out;
}

.mensaje {
  margin: 0.5rem;
  padding: 0.5rem 0 1rem 0.5rem;
  width: 70vw;
  max-width: 90%;
  border: none;
  background: #0a0a0a;
  height: 4rem;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
  min-height: 150px;
  resize: none;
  outline: none;
  border-bottom: 4px solid white;
}

.mensaje:focus {
  border-bottom: 4px solid white;
  transition: 0.3s ease-in-out;
}

.enviar {
  width: 10vh;
  padding: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.enviar:hover{
  background-color: white;
  color: $primary-color;
}

// FOOTER

.footer{
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  max-height: 100%;



  & .footerContent{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & img{
      width: 70%;
    }

  }
}

// SECTION 3

    .section3{
      @include mixins.ajustar-medida;
      background-color: pink;
    }


// MOBILE VERSION

@media screen and (max-width: 840px){

    // NAV BAR
  .navbar{
    display: none;
  }

  .navMobile {
      display: flex;
      background-color: dodgerblue;
      width: 100vw;
      height: 10vh;
      position: fixed;
      z-index: 9900;
    }

    .navMobileContent {
      @include mixins.flexbox(row);
      justify-content: space-around;
      width: 90%;
      margin: 0 auto;


      & img{
        width: 35vh;
      }

      & .btn-menu{
        aspect-ratio: 1;
        width: 6vh;
        background: url(/images/menu.png);
        border: none;
        @include mixins.background-ajuste(contain, center)
      }

    }

    .pushbar{
      background-color: rgba(0, 0, 0, 0.500);
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 9999;

      & .btn-cerrar{
        @include mixins.flexbox(row);
        justify-content: space-around;
        width: 90%;
        margin: 1.1vh auto;


        & img {
            width: 35vh;
            z-index: 9999;
          }

        & button{
          aspect-ratio: 1;
            width: 5vh;
            background: url(/images/close.png);
            border: none;
            @include mixins.background-ajuste(contain, center);
          }
      }

      & .menuMobile{
        height:80vh;

        & .nav-items{
          width: 100vw;
          height: 80vh;
          @include mixins.flexbox(column);
          justify-content: space-around;
          padding: 0;

          & a{
            width: 70vw;
            padding: 5vh;
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }

    // LANDING PAGE


    .landing-page{
      flex-direction: column;
      max-height: 100vh;

      & .section-content-right, .section-content-left{
        width: 100vw;
      }
    }

}